<ion-pane id="secondPage" ng-controller="bookListCtrl">
    <ion-header-bar class="bar-positive">
        <div class="buttons" ng-click="showDeleteButtons()">
            <button class="button button-icon icon ion-ios-minus-outline"></button>
        </div>
        <h1 class="title">
            Second Page
        </h1>
        <div class="buttons">
            <button class="button">reorder</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="book in bookList">
                {{ book.title }}
                <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(book)"></ion-delete-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-pane>